* {
    margin: 0;
    padding: 0;
}
:root{
    --main-color: #222;
    --second-color:rgb(255, 255, 40);
}


html {
    scroll-behavior: smooth;
}

.container {
    background: var(--second-color);
    color: var(--main-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boton {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 1vh;
    right: 1vw;
    border-radius:50%;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;
}

.botonDesactivado {
    border: 5px solid #22a;
    background: #6699dd;
}

.botonActivado {
    background: #dd4466;
    border: 5px solid #a22;
}

p {
    color: #222;
    padding: 10px 10%;
    font-size: 28px;
}

.botonera {
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu {
    position: fixed;    
    width:100vw;
    background-color: rgba(060, 060, 060, 0.93);
    transition: all 0.5s ease;
    transform: translateX(0);
}

.menu.cerrado {
    transform: translateX(-100vw);
}

#ul {
    position: relative;
    text-align: center;
    font-size: 20px;    
    list-style: none;
}

li {
    padding: 20px;
}
a li{
    color:#ddd;
}
a{
    color:blue;
    text-decoration: none;
}
a:hover{
    color:orange;
    text-decoration: none;
}
li:hover {
    background: rgba(200,200,200,0.5);
    color: #333;
       
}
li:active{
    background:rgba(150,150,150,0.5);
    color:red;
}
.responsibility{
    padding:30px;
    margin-top:20px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.extendido {
    padding-bottom: 75vh;
}

#clock {
    margin-top: 100px;
    height:300px;
    min-width:300px;
    width: 40%;
    border: 5px double #555;
    text-align: center;
    background: #ddd;
    display:flex;
    flex-direction: column;
    padding-top:150px;
}

#time {
    width: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color:#222;
}

button {
    margin: 10px 10px;
    padding: 10px;
    background: #323232;
    color: var(--second-color);
    font-size: 15px;
    font-weight: bold;
    box-shadow: 2px 2px 5px 2px #999;
}
button:hover{
    background: #545454;
}

.activo {
    background-color: #a44;
    color: #ddd;
}

article{
    margin:140px auto;
    padding :30px;
    text-align: center;
    font-size: 22px;
    height:100vh;
}
#pizarra{
    height:500px;
    width:1200px;
    background:black;
    margin:50px auto;
    outline: 3px solid var(--second-color);
   
    
}
#ball{
    height:50px;
    width:50px;
    background:#6699dd ;
   
    border-radius:50%;
}
#temporizador{
    margin-top: 80px;
}
.grande{
    font-size:50px;
}
#boton2 {
    width:50px;
    height:50px;
    border-radius:50%;
    background:pink;
    position:fixed;
    border:5px solid rgb(175, 71, 88);
    right:6vw;
    bottom:1vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#222;
    
}
#boton2.oculto{
    display:none;
}   

#boton2:hover{
    background:orange;
    border:5px solid rgb(182, 129, 14);
}
.dark-theme-btn{
    width:50px;
    height:50px;
    border-radius:50%;
    background:var(--main-color); 
    color:var(--second-color);
    position:fixed;
    border:5px solid rgb(175, 71, 88);
    left:2vw;
    bottom:1vh;
    display:flex;
    justify-content: center;
    align-items: center;   
    
}
.dark-theme-btn:hover{
    background:var(--second-color);
    color:var(--main-color);
}
.dark-mode{
    background:var(--main-color);
    color:var(--second-color);
}
fieldset{
    width:300px;
    margin :0 auto;
    padding:30px;
    }
fieldset input{
    width:90%;
    height:30px;
    font-size:20px;
}
.offline,.online{
    position:sticky;
    top:0;
    z-index:1000;
    padding:1rem;
    height:300px;
    font-size:3em;
    font-weight: bold;
    display:flex;
    align-items: center;
    justify-content: center;
text-align: center;
background:#1b5e20;
color:#fff;
}

.offline{
    background:#b71c1c;
}
#webcam{
    padding:10px;
   
   

    
}

@media screen and (max-width:1024px) {
    #boton2{
        right:14vw;
    }
    #boton1{
        right:2vw;
    }
    #pizarra{
        width:300px;
        height:300px;
    }
    article{
        height:75vh;
    }
    .responsibility{
        flex-direction: column;
    }
}